@tailwind base;
@tailwind components;
@tailwind utilities;


*:focus {
  outline: none;
}
p{
  font-family: 'Montserrat', sans-serif;
}
nav{
  font-family: 'REM', sans-serif;
}
body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}
